@charset "utf-8";



/*菜单开始*/

.menu {
	width: 100%;
	background: #fff;
	padding-bottom: 20px;
}

.menu ul {
	width: 100%;
}

.menu ul li {
	height: 70px;
	width: 25%;
	margin: 15px 0;
	padding: 0 10px;
	float: left;
}

.menu ul li a {
	display: block;
	text-align: center;
}

.menu ul li img {
	width: 50px;
}

.menu ul li span {
	display: block;
}

/*菜单结束*/

/*产品列表开始*/

ul.list {
	width: 100%;
	background: #fff;
}

ul.list li {
	height: 128px;
	padding: 14px 8px;
}

ul.list li a {
	display: block;
}

ul.list li a img {
	width: 100px;
	display: block;
}

ul.list li a div.f_left {
	width: 100px;
}

ul.list li a div.right {
	overflow: hidden;
	padding-left: 10px;
}

ul.list li a div.right .p1 {
	font-size: 15px;
	color: #333;
	text-align: left;
}

ul.list li a div.right .p1 span {
	color: #ff6c00;
}

ul.list li a div.right .p2 {
	margin-top: 8px;
}

ul.list li a div.right .p2 span:first-child {
	font-size: 12px;
	color: #a1a1a1;
}

ul.list li a div.right .p2 span:last-child {
	color: #a1a1a1;
	float: right;
}

ul.list li a div.right .p2 span:last-child i {
	display: inline-block;
	width: 14px;
	height: 15px;
	background: url(../images/icon_bar.png) no-repeat;
	background-position: -365px -116px;
	margin-right: 2px;
}


/*产品列表结束*/

.top {
	display: block;
	margin: 10px;
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
	text-align: center;
	border: 1px solid #ddd;
}
.top span {
	font-family: "宋体";
}

