@charset "utf-8";
div.head {
	position: relative;
}
div.head a.f_right {
	position: absolute;
	right: 0;
	top: 0;
}
div.head a.f_left{
	width: 50px;
	height: 50px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	font-family: "宋体";
	z-index: 10;
}
.head h1{
	/*float: left;*/
	width: 100%;
	/*padding: 0 50px;*/
	margin: 0 -50px;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
}

.media a .media-body .p1{
	
}
.media a .media-body .p1 span{
	color: #ff6c00;
}
.media a .media-body .p2{
	font-size: 12px;
	color: #a1a1a1;
	margin-top:20px;
}
.media a .media-body .p2 span {
	float: right;
}



























